html,
body {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
}

#control,
#detail,
#rmenu {
  position: absolute;
  padding: 10px;
  background-color: lightgrey;
  border: 1px solid black;
}

#control {
  top: 0;
  right: 0;
}

#detail {
  bottom: 0;
  right: 0;
}

#rmenu,
#rmenu > div,
#rmenu > div > button {
  padding: 0;
}

.hide {
  display: none;
}
