html,
body {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
}

div {
  cursor: default;
}

#control,
#detail,
#rmenu,
#edit {
  position: absolute;
  padding: 10px;
  background-color: rgb(28, 28, 28, 0.8);
  color: #fff;
  user-select: none;
}

#control {
  top: 0;
  right: 0;
}

#detail {
  bottom: 0;
  right: 0;
}

#rmenu {
  padding: 0px;
}

#rmenu > div {
  padding: 0.5em;
}

#rmenu > div:hover {
  background-color: rgba(120, 120, 120, 0.8);
}

#edit {
  top: 0;
}

#edit > div {
  text-align: right;
}

#edit > .submit {
  text-align: center;
}

#edit-color {
  display: inline-block;
}

select,
button,
input {
  border: none;
  background-color: transparent;
  padding: 0;
  color: inherit;
  text-align: inherit;
  font-size: 100%;
  font-family: inherit;
  cursor: default;
  line-height: inherit;
}

input[type="text"] {
  border-bottom: 1px solid white;
}

.hide {
  display: none;
}

.smail {
  font-size: smaller;
}

.pickr {
  display: inline-block;
}
